<mat-card class="user-card">
  <mat-card-title>Payment information</mat-card-title>
  <mat-card-content>
    <div class="info-row">
      <span>Status</span>
      <span>Active</span>
    </div>
    <div class="info-row">
      <span>Next payment day</span>
      <span>October 21st</span>
    </div>
    <div class="info-row">
      <span>Identification number</span>
      <span>20124578963</span>
    </div>
    <div class="info-row">
      <span>Bank account owner</span>
      <span>Sofía Pérez</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button>Update</button>
    <button mat-button>Cancel subscription</button>
  </mat-card-actions>
</mat-card>
