<mat-dialog-content>
  <mat-card class="no-border">
    <mat-card-title>
      Manual change
    </mat-card-title>
    <p>This change will be recorded in this container’s historial.</p>
    <mat-card-content>
      <div class="form-fields-container">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Min temperature</mat-label>
          <input matInput [(ngModel)]="data.minTemp">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Max temperature</mat-label>
          <input matInput [(ngModel)]="data.maxTemp">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Min humidity</mat-label>
          <input matInput [(ngModel)]="data.minHumidity">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Max humidity</mat-label>
          <input matInput [(ngModel)]="data.maxHumidity">
        </mat-form-field>
      </div>

      <div class="toggles-container">
          <div *ngFor="let gas of gases" class="gas-field">
              <div class="name-toggle">
                  <p>{{ gas.name }}</p>
                  <mat-slide-toggle [(ngModel)]="gas.enabled" (change)="toggleGas(gas)"></mat-slide-toggle>
              </div>

              <div *ngIf="gas.enabled" class="gas-inputs">
                  <mat-form-field appearance="outline" class="form-field">
                      <mat-label>{{ gas.name }} Min</mat-label>
                      <input matInput [(ngModel)]="gas.min" type="number" />
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="form-field">
                      <mat-label>{{ gas.name }} Max</mat-label>
                      <input matInput [(ngModel)]="gas.max" type="number" />
                  </mat-form-field>
              </div>
          </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="button-container">
      <button mat-button (click)="close()">Cancel</button>
      <button mat-button (click)="saveChanges()">Save</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>