<div class="sidenav-content">
    Menu
    <mat-nav-list>
        <a mat-list-item href="#">Dashboard</a>
        <a mat-list-item href="#">Groups</a>
        <a mat-list-item href="#">Containers</a>
        <a mat-list-item href="#">Workers</a>
    </mat-nav-list>
    Settings
    <mat-nav-list>
        <a mat-list-item href="#">Account</a>
        <a mat-list-item href="#">Subscription</a>
        <a mat-list-item href="#">Notifications</a>
    </mat-nav-list>
    ----------------
    <mat-nav-list>
        <a mat-list-item href="#">Logout</a>
    </mat-nav-list>
</div>
