<div class="facility-info">
  <!-- Containers Section -->
  <div class="container">
    <span><mat-icon class="material-icons-outlined">widgets</mat-icon> Containers</span>
    <p>{{ facility.containerCount }}</p>
  </div>
  <button mat-button class="info-action" (click)="openAddContainerDialog()">Add containers</button>

  <!-- Workers Section -->
  <div class="container">
    <span><mat-icon class="material-icons-outlined">person</mat-icon> Workers</span>
    <p class="info-count">{{ facility.profileCount || 0 }}</p>
  </div>
  <button mat-button class="info-action">Add workers</button>

  <!-- Alerts Section -->
  <div class="container">
    <span><mat-icon class="material-icons-outlined">notifications</mat-icon> Pending alerts</span>
    <p class="info-count">{{ facility.alerts || 0 }}</p>
  </div>
  <button mat-button class="info-action">Check alerts</button>
</div>
