<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="sidenav" position="end">
    <mat-icon class="close" (click)="sidenav.close()">arrow_back</mat-icon>
    <div *ngIf="facility">
      <div class="title">
        <h2>{{ facility.name }}</h2>
        <span>{{ facility.type }}</span>
      </div>
      <div class="container">
        <p><mat-icon>category</mat-icon> Containers</p>
        <p>{{ facility.containers }}</p>
      </div>
      <div><a>Add containers</a></div>
      <div class="container">
        <p><mat-icon>Person</mat-icon> Workers</p>
        <p>{{ facility.workers }}</p>
      </div>
      <div><a >Add workers</a></div>
      <div class="container">
        <p><mat-icon>notifications</mat-icon> Pending Alerts</p>
        <p>{{ facility.alerts }}</p>
      </div>
      <div><a>Add alerts</a></div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
