<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="sidenav" position="end">
    <mat-icon class="close" (click)="sidenav.close()">arrow_back</mat-icon>
    <div *ngIf="worker">
      <div class="title">
        <h2>{{ worker.firstName }} {{ worker.lastName }}</h2>
      </div>
      <div class="container">
        <p>Account ID: {{ worker.accountId }}</p>
      </div>
      <div class="container">
        <p>Group ID: {{ worker.groupId || 'No group assigned' }}</p>
      </div>
      <div class="container">
        <p>Privileges:</p>
        <ul>
          <li *ngFor="let privilege of worker.privileges">{{ privilege }}</li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
