<div class="card-container">
<mat-card *ngFor="let container of containerItems" (click)="openContainerSidenav(container.id)" class="container-card">
  <mat-card-header>
    <h3>Container #{{ container.id }}</h3>
  </mat-card-header>
  <mat-card-content>
    <p>{{ container.status }}</p>
    <div class="content">
        <div class="tag">
            <mat-icon aria-hidden="false" aria-label="Example temperature icon" fontIcon="device_thermostat"></mat-icon>
            <span>Temperature</span>
        </div>
      <span>{{ container.temperature !== null ? container.temperature + '°C' : '--' }}</span>
    </div>
    <div class="content">
        <div class="tag">
            <mat-icon aria-hidden="false" aria-label="Example humidity icon" fontIcon="water_drop"></mat-icon>
            <span>Humidity</span>
        </div>
      <span>{{ container.humidity !== null ? container.humidity + '%' : '--' }}</span>
    </div>
    <div class="content">
        <div class="tag">
            <mat-icon aria-hidden="false" aria-label="Example last sync" fontIcon="hourglass_empty"></mat-icon>
            <span>Last sync</span>
        </div>
      <span>{{ container.lastSync }}</span>
    </div>
  </mat-card-content>
</mat-card>
</div>
