<mat-card class="user-card">
  <mat-card-title>Current tier</mat-card-title>
  <mat-card-content>
    <div class="info-row">
      <span>Features: </span>
      <span></span>
    </div>
    <div class="info-row">
      <span>Facilities</span>
      <span>Used 5 out of 5</span>
    </div>
    <div class="info-row">
      <span>Containers</span>
      <span>Used 4 out of 25</span>
    </div>
    <div class="info-row">
      <span>Users</span>
      <span>Used 7 out of 20</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-flat-button>Upgrade plan</button>
  </mat-card-actions>
</mat-card>