<mat-sidenav #newTemplateSidenav mode="side" [(opened)]="isNewTemplateSidenavOpened" class="sidenav" position="end" [autoFocus]="false">
  <mat-icon class="close" (click)="newTemplateSidenav.close()">arrow_back</mat-icon>

  <div class="title-new">
    <h2>{{ 'TEMPLATE_ITEM.NEW_TEMPLATE' | translate }}</h2>
  </div>

  <form (ngSubmit)="saveTemplate()" class="template-form">
    <!-- Nombre del Template -->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'TEMPLATE_ITEM.TEMPLATE_NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="newTemplate.nameTemplate" [ngModelOptions]="{standalone: true}" name="nameTemplate" />
    </mat-form-field>

    <!-- Descripción -->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'TEMPLATE_ITEM.DESCRIPTION' | translate }}</mat-label>
      <textarea matInput [(ngModel)]="newTemplate.descriptionTemplate" [ngModelOptions]="{standalone: true}" name="description"></textarea>
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field>
      <mat-label>{{ 'TEMPLATE_ITEM.SELECT_CATEGORY' | translate }}</mat-label>
      <mat-select [(ngModel)]="newTemplate.category" [ngModelOptions]="{standalone: true}" name="categoryTemplate">
        <mat-option value="Fruits and vegetables">{{ 'TEMPLATE_ITEM.FRUITS_VEGETABLES' | translate }}</mat-option>
        <mat-option value="Meats">{{ 'TEMPLATE_ITEM.MEATS' | translate }}</mat-option>
        <mat-option value="Dairy">{{ 'TEMPLATE_ITEM.DAIRY' | translate }}</mat-option>
        <mat-option value="Animal derived">{{ 'TEMPLATE_ITEM.ANIMAL_DERIVED' | translate }}</mat-option>
        <mat-option value="Processed foods">{{ 'TEMPLATE_ITEM.PROCESSED_FOODS' | translate }}</mat-option>
        <mat-option value="Prepared foods">{{ 'TEMPLATE_ITEM.PREPARED_FOODS' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Rango de Temperatura -->
    <h3>{{ 'TEMPLATE_ITEM.TEMPERATURE_RANGE' | translate }}</h3>
    <div class="range-inputs">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TEMPLATE_ITEM.MIN' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="newTemplate.minTemp" [ngModelOptions]="{standalone: true}" name="minTemp" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TEMPLATE_ITEM.MAX' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="newTemplate.maxTemp" [ngModelOptions]="{standalone: true}" name="maxTemp" />
      </mat-form-field>
    </div>

    <!-- Rango de Humedad -->
    <h3>{{ 'TEMPLATE_ITEM.HUMIDITY_RANGE' | translate }}</h3>
    <div class="range-inputs">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TEMPLATE_ITEM.MIN' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="newTemplate.minHumidity" [ngModelOptions]="{standalone: true}" name="minHumidity" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TEMPLATE_ITEM.MAX' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="newTemplate.maxHumidity" [ngModelOptions]="{standalone: true}" name="maxHumidity" />
      </mat-form-field>
    </div>

    <!-- Gases -->
    <div class="toggles-container">
      <h3>{{ 'TEMPLATE_ITEM.GAS_DETECTION' | translate }}
        <mat-slide-toggle [(ngModel)]="gasSwitch" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
      </h3>

      <div *ngIf="gasSwitch" class="gas-container">
        <div *ngFor="let gas of gases" class="gas-field">
          <div class="gas-toggle">
            <p>{{ gas.name | translate }}</p>
            <mat-slide-toggle [(ngModel)]="gas.enabled" class="small-toggle" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
          <div *ngIf="gas.enabled" class="gas-inputs">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'TEMPLATE_ITEM.MIN' | translate }}</mat-label>
              <input matInput type="number" [(ngModel)]="gas.min" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'TEMPLATE_ITEM.MAX' | translate }}</mat-label>
              <input matInput type="number" [(ngModel)]="gas.max" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="container-of-container-button">
      <div class="container-button">
        <button mat-flat-button type="submit">{{ 'TEMPLATE_ITEM.SAVE' | translate }}</button>
        <button mat-button type="button" (click)="newTemplateSidenav.close()">{{ 'TEMPLATE_ITEM.DISCARD' | translate }}</button>
      </div>
    </div>
  </form>
</mat-sidenav>

<mat-sidenav-content>
  <div class="space">
    <div class="title-container">
      <h1>{{ 'TEMPLATE_ITEM.TEMPLATES_LIBRARY' | translate }}</h1>
      <button mat-flat-button (click)="openNewTemplateSidenav(newTemplateSidenav)">
        {{ 'TEMPLATE_ITEM.CREATE_TEMPLATE' | translate }}
      </button>
    </div>
    <mat-form-field class="search-field" appearance="outline">
      <input matInput (input)="applyFilter($event)" placeholder="{{ 'TEMPLATE_ITEM.SEARCH' | translate }}">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="card-container grid-container">
      <mat-card *ngFor="let template of filteredTemplates" (click)="openTemplateDetails(template)" class="container-card">
        <mat-card-title>{{ template.name }}</mat-card-title>
        <p class="description">{{ getCategory(template.category) }}</p>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="container">
            <p class="item"><mat-icon>thermostat</mat-icon> {{ 'TEMPLATE_ITEM.TEMPERATURE' | translate }}</p>
            <p class="item">{{ template.minTemp + '°C' }} - {{ template.maxTemp + '°C' }}</p>
          </div>
          <div class="container">
            <p class="item"><mat-icon>opacity</mat-icon> {{ 'TEMPLATE_ITEM.HUMIDITY' | translate }}</p>
            <p class="item">{{ template.minHumidity + '%' }} - {{ template.maxHumidity + '%' }}</p>
          </div>
          <div class="gases">
            <p class="item"><mat-icon>air</mat-icon> {{ 'TEMPLATE_ITEM.DETECT_GASES' | translate }}</p>
            <ul>
              <li *ngFor="let gas of gases" class="gases-element">
                <p>{{ gas.name | translate }}</p>
                <mat-slide-toggle class="custom-toggle" [checked]="gas.enabled" disabled></mat-slide-toggle>
              </li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-sidenav-content>
