<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="sidenav" position="end">
        <mat-icon class="close" (click)="sidenav.close()">arrow_back</mat-icon>

        <div class="title">
            <h2>{{ template?.nameTemplate }}</h2>
            <p>{{template?.descriptionTemplate}}</p>
        </div>
        <mat-divider></mat-divider>

        <h3>Select Containers</h3>
        <mat-selection-list [(ngModel)]="selectedContainers" class="selection">
            <mat-list-option *ngFor="let container of containerItems" [value]="container">
                Container #{{ container.id }}
            </mat-list-option>
        </mat-selection-list>

        <div class="container-button">
            <button mat-raised-button (click)="applyTemplateToContainers()">
                Apply Template
            </button>
        </div>


    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
