.sidenav {
  width: 300px;
  padding: 24px; /* Aumentar el padding */
}

.sidenav-content {
  padding: 24px; /* Aumentar el padding */
}

.mat-button-toggle {
  margin-top: 24px; /* Aumentar el margen superior */
  display: block;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .sidenav {
    width: 100%; /* Hacer que el sidenav ocupe todo el ancho en pantallas pequeñas */
    padding: 16px;
  }

  .sidenav-content {
    padding: 16px;
  }
}