.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #2B593C !important;
}

.tab {
    background-color: #FCF8F7;
}

#title {
    font-size: 32px;
    margin: 0;
}

.space {
    margin: 10px;
}