<mat-card class="user-card">
  <mat-card-title>Account Information</mat-card-title>
  <mat-card-content>
    <div class="info-row">
      <span>Business name</span>
      <span>A warm place</span>
    </div>
    <div class="info-row">
      <span>Subscription tier</span>
      <span>Advance</span>
    </div>
    <div class="info-row">
      <span>Identification number</span>
      <span>20124578963</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button >Manage Subscription</button>
  </mat-card-actions>
</mat-card>