<app-facility-details>
  <mat-tab-group>
    <mat-tab label="Facilities">

      <button mat-button (click)="openCreateSidenav()">Create</button>

      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #createSidenav mode="side" position="end" [(opened)]="isCreatingFacility" class="create-sidenav">
          <app-create-facility (facilityCreated)="onFacilityCreated()"></app-create-facility>
        </mat-sidenav>

        <mat-sidenav-content>
          <div class="card-container">
            <app-facility-items [facilityItems]="allFacilities" (facilitySelected)="showFacilityDetails($event)"></app-facility-items>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-tab>
  </mat-tab-group>
</app-facility-details>
