<app-facility-details>
<mat-tab-group>
  <mat-tab label="Facilities">
    <!-- Botón de toggle para mostrar o esconder el formulario de creación -->
    <button mat-button (click)="toggleCreateFacility()">Create</button>

    <!-- Formulario de creación de Facility -->
    <div *ngIf="isCreatingFacility" class="create-facility-form">
      <app-create-facility (facilityCreated)="onFacilityCreated()"></app-create-facility>
    </div>

    <!-- Lista de Facilities -->
    <div class="card-container">
      <app-facility-items [facilityItems]="allFacilities" (facilitySelected)="showFacilityDetails($event)"></app-facility-items>
    </div>
  </mat-tab>
</mat-tab-group>
</app-facility-details>
